---
page_title: "lldap_groups Data Source - terraform-provider-lldap"
description: |-
  Reads all LLDAP groups, without memberships
---

# lldap_groups (Data Source)

Reads all LLDAP groups, without memberships

## Example Usage

{{ tffile "examples/data-sources/lldap_groups/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
