---
page_title: "lldap_group Data Source - terraform-provider-lldap"
description: |-
  Reads a LLDAP group, including memberships
---

# lldap_group (Data Source)

Reads a LLDAP group, including memberships

## Example Usage

{{ tffile "examples/data-sources/lldap_group/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
