---
page_title: "lldap_group_attributes Data Source - terraform-provider-lldap"
description: |-
  Schema definitions for group attributes
---

# lldap_group_attributes (Data Source)

Schema definitions for group attributes

## Example Usage

{{ tffile "examples/data-sources/lldap_group_attributes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
