---
page_title: "lldap_user_attributes Data Source - terraform-provider-lldap"
description: |-
  Schema definitions for user attributes
---

# lldap_user_attributes (Data Source)

Schema definitions for user attributes

## Example Usage

{{ tffile "examples/data-sources/lldap_user_attributes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
