---
page_title: "lldap_group_attribute_assignment Resource - terraform-provider-lldap"
description: |-
  Manage a custom attribute assignment for a group
---

# lldap_group_attribute_assignment (Resource)

Manage a custom attribute assignment for a group

## Example Usage

{{ tffile "examples/resources/lldap_group_attribute_assignment/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "sh" "examples/resources/lldap_group_attribute_assignment/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
