---
page_title: "lldap_group Resource - terraform-provider-lldap"
description: |-
  Manages a LLDAP group, without memberships
---

# lldap_group (Resource)

Manages a LLDAP group, without memberships

## Example Usage

{{ tffile "examples/resources/lldap_group/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "sh" "examples/resources/lldap_group/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
