---
page_title: "lldap_member Resource - terraform-provider-lldap"
description: |-
  Manages a LLDAP memberhip, i.e. a group-user relationship
---

# lldap_member (Resource)

Manages a LLDAP memberhip, i.e. a group-user relationship

## Example Usage

{{ tffile "examples/resources/lldap_member/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "sh" "examples/resources/lldap_member/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
