---
page_title: "lldap_group_attribute Resource - terraform-provider-lldap"
description: |-
  Defines a new custom attribute schema for groups
---

# lldap_group_attribute (Resource)

Defines a new custom attribute schema for groups

## Example Usage

{{ tffile "examples/resources/lldap_group_attribute/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "sh" "examples/resources/lldap_group_attribute/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
