---
page_title: "lldap_user_attribute Resource - terraform-provider-lldap"
description: |-
  Defines a new custom attribute schema for users
---

# lldap_user_attribute (Resource)

Defines a new custom attribute schema for users

## Example Usage

{{ tffile "examples/resources/lldap_user_attribute/resource.tf" }}

## Import

Import is supported using the following syntax:

{{ codefile "sh" "examples/resources/lldap_user_attribute/import.sh" }}

{{ .SchemaMarkdown | trimspace }}
