---
page_title: "lldap_user Data Source - terraform-provider-lldap"
description: |-
  Reads a LLDAP user, with group memberships
---

# lldap_user (Data Source)

Reads a LLDAP user, with group memberships

## Example Usage

{{ tffile "examples/data-sources/lldap_user/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
