---
page_title: "lldap_users Data Source - terraform-provider-lldap"
description: |-
  Reads all LLDAP users, without group memberships
---

# lldap_users (Data Source)

Reads all LLDAP users, without group memberships

## Example Usage

{{ tffile "examples/data-sources/lldap_users/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
